<form class="form_container">
    <mat-form-field>
        <mat-label>Search by film title</mat-label>
        <mat-spinner *ngIf="searchLoading" matPrefix diameter="16"></mat-spinner>
        <input type="text" placeholder="Search" aria-label="Number" matInput [formControl]="searchControl"
            [matAutocomplete]="auto">
        <button mat-button *ngIf="searchControl?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchControl.reset()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <ng-container *ngFor="let searchedFilm of searchedFilms?.results">
                <mat-option *appVar="searchedFilm?.url | extractIdFromUrl; let filmId" [routerLink]="['.', filmId]">
                    {{searchedFilm?.title}}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
        <mat-hint *ngIf="!searchedFilms?.results.length && !searchControl?.value">Make a Search</mat-hint>
        <mat-hint *ngIf="!searchedFilms?.results.length && searchControl?.value">No Results Found
        </mat-hint>
    </mat-form-field>
</form>


<div *ngIf="!isLoading && films">
    <mat-selection-list #filmsList [multiple]="false">
        <mat-list-option *ngFor="let film of films?.results">
            <a mat-list-item *appVar="film?.url | extractIdFromUrl; let filmId"
                [routerLink]="['.', filmId]"><span>{{film?.title}}</span> </a>
        </mat-list-option>
    </mat-selection-list>
</div>
<ng-container *ngIf="films?.previous || films?.next">
    <button mat-raised-button [disabled]="!films?.previous" (click)="getPreviousFilms()">
        Previous <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-raised-button [disabled]="!films?.next" (click)="getNextFilms()">
        Next<mat-icon>navigate_next</mat-icon>
    </button>
</ng-container>
<!-- Loading Spinner -->
<div class=" loading_container" *ngIf="isLoading">
    <mat-spinner diameter="256"></mat-spinner>
</div>
<!-- Error Message -->
<div *ngIf="!isLoading && !films">Error Occurred check your internet connection</div>